@using eBug.Application.Contracts.Bugs
<tr>
    <td>@BugRecord.Id</td>
    <td>@BugRecord.Title</td>
    <td>@BugRecord.Description</td>
</tr>


@code {
    [Parameter]
    public GetAllBugsResponse BugRecord { get; set; }
}