@page "/counter"
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<h1>Counter 123</h1>

<p>Current count, Hello Word: @currentCount</p>
<p>Current count, Hello Word: @Configuration["ApiEndpoint"].ToString()</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}